In [32]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.externals import joblib
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [33]:
dataset=pd.read_csv('data/movie.csv')

In [34]:
dataset.head()

  class                                               text
0   Pos   films adapted from comic books have had plent...
1   Pos   every now and then a movie comes along from a...
2   Pos   you ve got mail works alot better than it des...
3   Pos      jaws   is a rare film that grabs your atte...
4   Pos   moviemaking is a lot like being the general m...

In [35]:
dataset['class'].unique()

array(['Pos', 'Neg'], dtype=object)

In [36]:
dataset.loc[dataset["class"] == 'Neg', "class",] = 0
dataset.loc[dataset["class"] == 'Pos', "class",] = 1

In [37]:
dataset.head(10)

  class                                               text
0     1   films adapted from comic books have had plent...
1     1   every now and then a movie comes along from a...
2     1   you ve got mail works alot better than it des...
3     1      jaws   is a rare film that grabs your atte...
4     1   moviemaking is a lot like being the general m...
5     1   on june 30   1960   a self taught   idealisti...
6     1   apparently   director tony kaye had a major b...
7     1   one of my colleagues was surprised when i tol...
8     1   after bloody clashes and independence won   l...
9     1   the american action film has been slowly drow...

In [38]:
dataset.isnull().sum()

class    0
text     0
dtype: int64

In [39]:
X = dataset["text"]
y = dataset["class"]

In [40]:
from sklearn.cross_validation import train_test_split

In [41]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 4)

In [42]:
x_train.head()

875      every once in a while   when an exceptional f...
1735     this well conceived but ultra sugary coming o...
1729     as forgetful as some people may be it is doub...
362      elizabeth is a potent historical drama set in...
890      apollo 13 is simply one of the most dramatic ...
Name: text, dtype: object

In [43]:
tfidf = TfidfVectorizer(min_df = 1, stop_words = 'english', ngram_range=(1,3))

In [44]:
x_traincv = tfidf.fit_transform(x_train)

In [45]:
x_testcv = tfidf.transform(x_test)

In [46]:
y_train = y_train.astype('int')

In [47]:
y_test = y_test.astype('int')

In [48]:
from sklearn.naive_bayes import MultinomialNB

In [50]:
classifier = MultinomialNB()

In [51]:
classifier.fit(x_traincv, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [52]:
print("Training accuracy {}".format(classifier.score(x_traincv, y_train)))
print("Testing accuracy {}".format(classifier.score(x_testcv, y_test)))

Training accuracy 1.0
Testing accuracy 0.83

In [54]:
joblib.dump(classifier, 'mr')

['mr']

In [55]:
joblib.dump(tfidf, 'tfidf')

['tfidf']